.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    /* gap: 1px; */
    margin: 20px auto;
    width: max-content;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: rgb(243, 234, 234);
    box-sizing: border-box;
    /* border: 0.5px solid black; */
}

.wall-top {
    border-top: 1px solid black;
}

.wall-right {
    border-right: 1px solid black;
}

.wall-bottom {
    border-bottom: 1px solid black;
}

.wall-left {
    border-left: 1px solid black;
}

.start {
    background-color: rgb(231, 133, 53);
}

.end {
    background-color: rgb(88, 148, 88)
}

.player {
    width: 30px;
    height: 30px;
    background-color: #2196f3;
    border-radius: 50%;
    margin: 35px auto;
    box-shadow: 0 0 5px #333;
}